<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  
  
  
</head>



<body>
    <div class="container my-5">
        <h3> Add Student</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/addUserProcess}"  method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                            <div th:if="${session.message}"  class="alert alert-success" role="alert">
                           <p th:text="${session.message}"></p>
                           <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                            </div>
                                <label for="name"  class="col-form-label">User Name</label>
                                 <input type="text" name="username" class="form-control" >
                                  <span></span>
                                  <b id="userMsg"></b>
                                  <big id="errorMsg"></big>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="email"  class="col-form-label"> User password</label> <input type="password" name="password" class="form-control"> <span id="emailMsg"></span>
                                <b id="eMsg"></b>
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="name"  class="col-form-label">Select your Roll </label>  
                                <select name="role" class="form-control">
                                <option value="0" selected="" disabled="">select your Roll</option>
                                 <option value="ROLE_ADMIN">Admin</option>
                                  <option value="ROLE_USER">User</option>
                                  <option value="ROLE_INVESTOR">Investor</option>
                                
                                </select>
                                <span id="roleMsg" style="color:red"></span>
                            </div>
                            
                             <div class="form-group col-md-8">
                                <label for="name"  class="col-form-label">Set Category </label>  
                                <select name="enabled" class="form-control">
                                <option value="0" selected="" disabled="">--select-- </option>
                                 <option value="true">Enabled</option>
                                  
                                
                                </select>
                                <span id="roleMsg" style="color:red"></span>
                            </div>
                          
                            
                           

                            <div class="col-md-6">
                                <input type="submit" id="btn" class="btn btn-primary" value="Add Employee">
                            </div>

                            <div class="form-group col-md-8"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
</body>

</html>